/****************************************************************************
    *** GLOBALS CSS FILE
    ***
    *** Author: {|EXTENSION_AUTHOR_NAME|}
    *** Copyright: {|EXTENSION_AUTHOR_COMPANY|}
    ***
*****************************************************************************/

/**********************************************************
    *****  Importations
**********************************************************/
@import "../constants";
@import "../Helpers/mixins";


/**********************************************************
    *****  BASE Definitions
**********************************************************/
html {
  font-size: 16px;
}

body {
  color: $default-color;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
  outline: none;
}

table, textarea, input {
  font-family: $font-family;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
}
h5{
  font-size: 1.2em;
}
h6{
  font-size: 1em;
}

p {
  margin: 0 0 0.4em 0;
}

p img {
  margin: 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

small {
  font-size: 0.8em;
}

sub {
  font-size: 0.8em;
  vertical-align: sub;
}

sup {
  font-size: 0.8em;
  vertical-align: super;
}

.ucfirst {
  text-transform: capitalize;
}

.tolower {
  text-transform: lowercase;
}

.toupper {
  text-transform: uppercase;
}

.indent {
  padding-left: 1em;
}

.normal {
  font-weight: normal;
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

a.clear {
  text-decoration: none;
}

ul.clear {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.clearfix {
  @include clearfix();
  line-height: 0;
  width: 100%;
}