{namespace core=TYPO3\CMS\Core\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="iconButtons">
    <div class="menuItems">
		<span class="menuItem newItem" data-action="createNewTemplate"
              title="{f:translate(key:'button.createTemplate')}">
			<core:icon identifier="icon-actions-document-new"/>
		</span>
    </div>
</f:section>

<f:section name="content">
    <h1>
        <f:translate key="header.new.title"/>
    </h1>
    <p>
        <f:translate key="header.new.bodytext"/>
    </p>
    <f:render partial="Template/Form" arguments="{_all}"/>
</f:section>

</html>
