/****************************************************************************
    *** GENERAL CONSTANT FILE
    ***
    *** This file contains all constants for SCSS generation
    ***
    *** Author: {|EXTENSION_AUTHOR_NAME|}
    *** Copyright: {|EXTENSION_AUTHOR_COMPANY|}
    ***
*****************************************************************************/

/**********************************************************
    *****  Fonts
**********************************************************/
$font-family: sans-serif;

/**********************************************************
    *****  Colors & Backgrounds
**********************************************************/

$a-color: blue;
$a-color-hover: blue;

$default-color: #000000;
